<html ng-app="crudApp">
<head>
<title>Assignment: Coding Challenge</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Include Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<!-- Include main CSS -->
<link rel="stylesheet" type="text/css" href="css/style.css">
<!-- Include jQuery library -->
<script src="js/jQuery/jquery.min.js"></script>
<!-- Include AngularJS library -->
<script src="lib/angular/angular.min.js"></script>
<!-- Include Bootstrap Javascript -->
<script src="js/bootstrap.min.js"></script>
</head>
<body>
<div class="container wrapper" ng-controller="DbController">
<h1 class="text-center">Patient Information</h1>
<nav class="navbar navbar-default">
<div class="navbar-header">
<div class="alert alert-default navbar-brand search-box">
<button class="btn btn-primary" ng-show="show_form" ng-click="formToggle()">Add Patient <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
</div>

</div>
</nav>
<!--start
-->

<div class="alert alert-default input-group search-box">
<span class="input-group-btn">
<input type="text" class="form-control" placeholder="Search Patient Details..." ng-model="search_query">
</span>
</div>

<!--end
-->
<div class="col-md-6 col-md-offset-3">

<!-- Include form template which is used to insert data into database -->
<div ng-include src="'templates/form.html'"></div>

</div>
<div class="clearfix"></div>

<!-- Table to show Patient detalis -->
<div class="table-responsive">
<table class="table table-hover">
<tr>
<th>Patient ID</th>
<th>First Name</th>
<th>Last Name</th>
<th>Age</th>
<th>Dob</th>
<th>Email Address</th>
<th>Gender</th>
<th>Phone</th>
<th>Address</th>
<th></th>
<th></th>
</tr>
<tr ng-repeat="detail in details| filter:search_query">
<td>
<span>{{detail.p_id}}</span></td>
<td>{{detail.p_name}}</td>
<td>{{detail.p_lname}}</td>
<td>{{detail.p_age}}</td>
<td>{{detail.p_dob}}</td>
<td>{{detail.p_email}}</td>
<td>{{detail.p_gender}}</td>
<td>{{detail.p_phone}}</td>
<td>{{detail.p_address}}</td>
<td>
<button class="btn btn-danger" ng-click="deleteInfo(detail)" title="Delete"><span class="glyphicon glyphicon-trash"></span></button>
</td>
</tr>
</table>
</div>
</div>
</div>
<!-- Include controller -->
<script src="js/angular-script.js"></script>
</body>
</html>